/* main.css */

/* font-family : 'Raleway', sans-serif; */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #d4e0d8;
    color: #424242;
    box-sizing: border-box;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 4em;
    font-weight: 600;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: 200;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
}


a {
    text-decoration: none;
    color: #424242;
    font-weight: 600;
}

.header {
    background-color: #94d0ad;
    color: #3b6444;
    padding: 10px;
}

.tagline {
    background-color: #4a7e56;
    color: #fff;
    padding: 20px 0 20px 0;
}

.tagline h2 {
    line-height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    width: 900px;
    margin: auto auto;
}

.projects, .badges, .articles, .skills, .footer {
    width: 700px;
    margin: 0 auto;
}

.projects ul, .badges ul, .articles ul, .skills ul {
    list-style-type: none;
}

.projects li, .badges li, .articles li, .skills ul  {
    margin-bottom: 10px;
}

.projects h3, .badges h3, .articles h3, .skills h3 {
    border-bottom: 2px solid #4a7e56;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
}

.badges {
    
}

.badges li {
    height: 60px;
}

.badges img {
    float: left;
    height: 60px;
    padding-right: 10px;
}

.badges p {
    padding-top: 14px;
}

.skills li {
    width: 250px;
    display: table-cell;
    padding: 2px 5px; 
    margin: 50px auto;
    text-align: center;
}

.footer {
    margin-bottom: 20px;
    
}

.footer p {
    padding: 15px 0; 
    text-align: center;
}